.background-color-occupant-default { background-color: #FFBA00; }
.background-color-occupant-auditorium { background-color: #FF961D; }
.background-color-occupant-administration { background-color: #3A92F0; }
.background-color-occupant-archive { background-color: #B57040; }
.background-color-occupant-concert-hall { background-color: #FE70AF; }
.background-color-occupant-foodservice { background-color: #48BE38; }
.background-color-occupant-foodservice-coffee { background-color: #48BE38; }
.background-color-occupant-laboratory { background-color: #03BBFD; }
.background-color-occupant-library { background-color: #B57040; }
.background-color-occupant-museum { background-color: #FE70AF; }
.background-color-occupant-reading-room { background-color: #B57040; }
.background-color-occupant-restroom-male { background-color: #AD6CFF; }
.background-color-occupant-restroom-female { background-color: #AD6CFF; }
.background-color-occupant-security { background-color: #FE4C4F; }
.background-color-occupant-souvenirs { background-color: #FF961D; }
.background-color-occupant-ticket { background-color: #5799FF; }
.background-color-occupant-wardrobe { background-color: #8596BD; }
.attraction-fill { background-color: #4593CF; }
.attraction-stroke { background-color: #ffffff; }
