$phone-width: 700px;
$bottom-sheet-horizontal-regular-width: 400px;
$bottom-sheet-horizontal-small-width: 330px;
$bottom-sheet-vertical-small-offset: 80px;
$bottom-sheet-vertical-middle-offset: 320px;
