@import './variables.scss';
@import './colors.scss';

.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.non-block {
  pointer-events: none;

  > *:not(.non-block) {
    pointer-events: auto;
  }
}

.card-blur {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.card-shadow {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
}

.card {
  @extend .card-blur;
  @extend .card-shadow;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
}

.highlight-disable {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
