@import './variables.scss';
@import './colors.scss';

.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.non-block {
  pointer-events: none;

  > *:not(.non-block) {
    pointer-events: auto;
  }
}

.card-blur {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.card-shadow {
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 5%);
}

.card {
  @extend .card-blur;
  @extend .card-shadow;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
}

