@import './generated.scss';

$accent-color: #37b34a;
$font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu;

//basic-colors
$background: #ffffffff;
$secondary-background: #f2f2f7ff;
$tertiary-background: #ffffffff;
$grouped-background: #f2f2f7ff;
$secondary-grouped-background: #ffffffff;
$tertiary-grouped-background: #f2f2f7ff;

$label: #000000ff;
$secondary-label: #3c3c4399;
$tertiary-label: #3c3c434d;
$quaternary-label: #3c3c432e;

$placeholder: #3c3c434d;

$separator: #3c3c434a;
$opaque-separator: #c6c6c8ff;

$gray: #8e8e93ff;
$gray2: #aeaeb2ff;
$gray3: #c7c7ccff;
$gray4: #d1d1d6ff;
$gray5: #e5e5eaff;
$gray6: #f2f2f7ff;

// searchBar
$search-bar-background: rgba(117, 117, 117, 0.12); //dark: rgba(117, 117, 127, 0.24)
