

$phone-width: 500px;
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

$background: #FFFFFFFF;
$secondary-background: #F2F2F7FF;
$tertiary-background: #FFFFFFFF;
$grouped-background: #F2F2F7FF;
$secondary-grouped-background: #FFFFFFFF;
$tertiary-grouped-background: #F2F2F7FF;


$label: #000000FF;
$secondary-label: #3C3C4399;
$tertiary-label: #3C3C434D;
$quaternary-label: #3C3C432E;

$placeholder: #3C3C434D;

$separator: #3C3C434A;
$opaque-separator: #C6C6C8FF;
